---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Vivian Lobo, a solutions architect from the United Kingdom.
        <br />
        My primary technology of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Opentelemetry</li>
        <li>Cloud (AWS, Azure & GCP)</li>
        <li>MongoDB</li>
        <li>NextJS</li>
        <li>Astro</li>
        <li>Flutter</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I’m passionate about cricket, spending time with my dog, 
      and tinkering with self-hosted applications. 
      I also enjoy working on side projects, hoping to turn some of them into income-generating ventures.
    </p>
    <p class="text-sm font-light">
      While I have my preferred tools, I always choose the best one for the job, 
      even if it’s not on my usual list. My goal is to craft the right solutions for each project.
    </p>
  </div>
</Card>
